@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Yellix';
        src: url('/fonts/Yellix-Black.ttf') format('truetype');
        font-weight: 900;
        font-display: swap;
    }

    @font-face {
        font-family: 'Yellix';
        src: url('/fonts/Yellix-Bold.ttf') format('truetype');
        font-weight: 700;
        font-display: swap;
    }

    @font-face {
        font-family: 'Yellix';
        src: url('/fonts/Yellix-Medium.ttf') format('truetype');
        font-weight: 500;
        font-display: swap;
    }

    @font-face {
        font-family: 'Yellix';
        src: url('/fonts/Yellix-Regular.ttf') format('truetype');
        font-weight: 400;
        font-display: swap;
    }

    @font-face {
        font-family: 'Yellix';
        src: url('/fonts/Yellix-SemiBold.ttf') format('truetype');
        font-weight: 600;
        font-display: swap;
    }

    :root {
        --background: #fafafa;
        --foreground: #222222;
        --card: #ffffff;
        --card-foreground: #222222;
        --popover: #ffffff;
        --popover-foreground: #222222;
        --primary: #50B7ED;
        --primary-foreground: #ffffff;
        --secondary: #32db64;
        --secondary-foreground: #ffffff;
        --muted: #f5f5f5;
        --muted-foreground: #595959;
        --accent: #50B7ED;
        --accent-foreground: #ffffff;
        --destructive: #f53d3d;
        --destructive-foreground: #ffffff;
        --border: #d3e0e5;
        --input: #f2f7f9;
        --ring: #50B7ED;
        --radius: 0.5rem;
    }

    body {
        @apply bg-white font-yellix;
        color: var(--foreground);
        background: var(--background);
    }

    h1, h2, h3, h4, h5, h6 {
        @apply font-yellix font-bold;
    }

    button {
        @apply font-yellix font-medium;
    }
}